<!DOCTYPE html>
<html>
<%- include('../partials/head') %>

<body>
    <%- include('../partials/nav') %>
    <div class="container">
            <div id="search-row" class="row">
              <h2>Partners in Wine</h2>
              <form action="/partners" method="GET">
                <div>
                  <div class="input-field">
                    <input id="search" type="search" name="name" placeholder="search name" value="<%= name %>" autocomplete="off">
                  </div>
                </div>
              </form>
            </div>
            <div class="row">
              <div id="partners">
                <% partners.forEach(function(partner) { %>
                  <div class="card blue-grey">
                    <div class="card-content">
                      <div>
                        <span class="card-title">
                          <% if (partner.avatar) { %><img src='<%= partner.avatar %>'>
                          <% } else { %> <i class="small material-icons">perm_identity</i> <% } %>
                          <span class="partner-name"><%= partner.name %></span>
                        </span>
                      </div>
                    </div>
                  </div>
                <% }) %>
              </div>
            </div>
    </body> 
</html>