<!DOCTYPE html>
<html>
    <%- include('../partials/head') %>
    <link rel='stylesheet' href='/stylesheets/dashboard.css' />
    <link rel='stylesheet' href='/stylesheets/wine.css' />
  </head>

<body>
  <%- include('../partials/nav') %>
  <section class="all-partners-wrapper">
    <br>
    <div class="partner-info">
      <% partner.forEach(function(partner) { %>
      <div id="polaroid">
          <form id="add-wine-to-list" action="/partners/<%= partner._id%>/addFriend" method="POST">
            <input type="hidden" value="<%= partner._id %>" name="friends">
            <button type="submit">Add Friend</button>
          </form>
        <p><%= partner.name %> is currently drinking... <%= partner.currentDrink %></p>
        <img class="profile" src="<%= partner.avatar %>" alt="User Profile">
      </div>
      <% }) %>
    </div>
  </section>
  <%- include('../partials/footer') %>
</body>

</html>