<!DOCTYPE html>
<html>
<%- include('../partials/head') %>
<link rel='stylesheet' href='/stylesheets/friends.css' />
</head>

<body>
  <%- include('../partials/nav') %>
  <section class="wrapper">
    <br>
    <div class="partner-info">
      <table class="partner-info">
        <% partner.forEach(function(partner) { %>
          <tbody>
        <tr>
          <td>
            <img class="profile" src="<%= partner.avatar %>" alt="User Profile">
          </td>
          <td colspan="3">
            <p><%= partner.name %> is currently drinking... <%= partner.currentDrink %></p>
          </td>
          <td>
            <form id="add-wine-to-list" action="/partners/<%= partner._id%>/addFriend" method="POST">
              <input type="hidden" value="<%= partner._id %>" name="friends">
              <button type="submit">Add Friend</button>
            </form>
          </td>
        </tr>
      </tbody>
        <% }) %>
      </table>

    </div>
  </section>
  <%- include('../partials/footer') %>
</body>

</html>