<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <link rel='stylesheet' href='/stylesheets/dashboard.css' />
  </head>
<body>
  <%- include('../partials/nav') %>
  <section class="wrapper">

    <section id="profile">
      <div id="polaroid-wrapper">
        <div id="polaroid">
          <p><%= partner.name %></p>
          <img class="profile" src="<%= partner.avatar %>" alt="User Profile">
        </div>
      </div>
      
      <div id="update">
        <p>I'm currently drinking... <%= partner.currentDrink %></p>
      </div>

      <form id="edit-drink" action="/partners/<%= partner._id %>?_method=PUT" class="add-drink" method="POST">
        <input type="text" name="currentDrink" placeholder="Update your drink">
        <button type="submit"><i class="far fa-edit"></i>Edit</button>
      </form>
    </section>

    <section class="dashboard">
      <div class="friends">
        <h1>my partners in wine</h1>
        <hr><br>
        <div id="friend-wrap">
          <% friends.forEach(friend => { %>
            <div id="friend-profile">
              <img id="friends" src="<%= friend.avatar %>" alt="User Profile">
              <p> <%= friend.name %> </p>
            </div>
          <% }) %>
        </div>
      </div>

      <div class="my-wine-lists">
        <h1>my wine lists</h1>
        <hr><br>
        <div id='list'>
            <% wineList.forEach(function(wineList) { %>
            <a href="/wineLists/<%= wineList.id %>">
            <img src= "../images/winecat-icon-red.png">
            <%= wineList.name %>
          </a>
          <% }) %>
        </div>
      </div>
    </section>
    
  </section>
  <%- include('../partials/footer') %>
</body>

</html>