<!DOCTYPE html>
<html>
    <%- include('../partials/head') %>
  <body>
    <%- include('../partials/nav') %>
    <section id="profile">
      <div id="pic-name">
        <img class="profile" src="<%= partner.avatar %>" alt="User Profile">
        <h1><%= partner.name %></h1>
      </div>
      <div id="update">
        <p>I'm currently drinking... <%= partner.currentDrink %></p>
        <form action="/partners/show" class="add-drink" method="GET">
        <button type="submit"><i class="far fa-edit"></i>Add/Edit</button>
        </form>     
      </div>
    </section>
    <section class="dashboard">
      <div class="friends"> <p>my partners in wine</p> </div>
      <div class="added-wines"> <p>newest wines in the wine catalogue</p> </div>
      <div class="my-wine-lists"> <p>my wine lists</p> </div>
    </section>
    <%- include('../partials/footer') %>
  </body>
</html>