<!DOCTYPE html>
<html>
  <head>
    <title>Partners in Wine</title>
    <link rel='stylesheet' href='/stylesheets/dashboard.css' />
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700|Raleway:400,600,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
  <body>
    <%- include('../partials/nav') %>
    <header>
    <h1>Partners in Wine's</h1>
    <h1>Wine Catalogue</h1>
    </header>
    <div style="overflow-y: auto">
        <table>
            <thead>
                <tr>
                    <th>wine name</th>
                    <th>color</th>
                    <th>type</th>
                    <th>country</th>
                </tr>
            </thead>
            <tbody>
                <% wines.forEach(function(wine) {%>
                <tr> 
                    <td><%= wine.name %></td>
                    <td><%= wine.color %></td>
                    <td><%= wine.type %></td>
                    <td><%= wine.country %></td>
                    <td>
                        <form action="/wines/<%= wine._id %>" class="show-wine" method="GET">
                            <button type="submit"><img id="show" src="../images/show.png"></button>
                        </form>     
                    </td>
                    <td>
                        <form action="/wines/<%= wine._id %>?_method=DELETE" class="delete-wine" method="POST">
                            <button type="submit"><i class="fas fa-trash-alt"></i></button>
                        </form>                        
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
    <button class="new-wine" onclick="location.href='/wines/new'"> Add New Wine </button>
  </body>
</html>