<!DOCTYPE html>
<html>
    <%- include('../partials/head') %>
  <body>
    <%- include('../partials/nav') %>
    <section id="wine-cat-show">
    <header class="wine-header">
    <h1>Partners in Wine's</h1>
    <h1>Wine Catalogue</h1>
    </header>
    <div id="cat-table" style="overflow-y: auto">
        <table>
            <thead>
                <tr>
                    <td>wine name</td>
                    <td>color</td>
                    <td>type</td>
                    <td colspan="3">country</td>
                </tr>
            </thead>
            <tbody>
                <% wines.forEach(function(wine) {%>
                <tr> 
                    <td><%= wine.name %></td>
                    <td><%= wine.color %></td>
                    <td><%= wine.type %></td>
                    <td><%= wine.country %></td>
                    <td>
                        <form action="/wines/<%= wine._id %>" class="show-wine" method="GET">
                            <button type="submit"><img id="show" src="../images/show.png"></button>
                        </form>     
                    </td>
                    <td>
                        <form action="/wines/<%= wine._id %>?_method=DELETE" class="delete-wine" method="POST">
                            <button type="submit"><i class="fas fa-trash-alt"></i></button>
                        </form>                        
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
   
    <header class="wine-header">
            <h1>Add a new wine</h1>
    </header>

        <form id="add-wine" action="/wines" method="POST">
            <label id="wine-name"> Wine Name:
                <input type="text" name="name">
            </label>
            <label id="color"> Color:
                <select name="color">
                    <option value="Red">Red</option>
                    <option value="White">White</option>
                    <option value="Rose">Rose</option>
                </select>
            </label>
            <label id="type"> Type:
                <input type="text" name="type">
            </label>
            <label id="country"> Country:
                <input type="text" name="country">
            </label>
            <input class="add" type="submit" value="Add Wine">
        </form>    

</section>  
</body>
</html>