<!DOCTYPE html>
<html>
    <%- include('../partials/head') %>
  <body>
    <%- include('../partials/nav') %>
    <header>
    <h1><%= wine.name %></h1>
    </header>
    <div>
            <table id="show-wine">
                    <tr>
                        <th id="header" colspan="2"><%= wine.name %> Details</th>
                    </tr>
                    <tr>
                        <th>Wine Name:</th>
                        <td><%= wine.name %></td>
                    </tr>
                    <tr>
                        <th>Color:</th>
                        <td><%= wine.color %></td>
                    </tr>
                    <tr>
                        <th>Type:</th>
                        <td><%= wine.type %></td>
                    </tr>
                    <tr>
                        <th>Country:</th>
                        <td><%= wine.country %></td>
                    </tr>
                    <tr>
                        <th>Wine added by:</th>
                        <td><%= wine.addedBy %></td>
                    </tr>
                </table>
    </div>
    <button class="edit-wine" onclick="location.href='/wines/edit'"> Edit this wine </button>
  </body>
</html>