<!DOCTYPE html>
<html>
<%- include('../partials/head') %>

<body>
  <%- include('../partials/nav') %>
  <section id="wine-cat-show">
    <header class="wine-header">
      <h1>Wine Lists</h1>
    </header>

    <form id="create-wineList" action="/wineLists" method="POST">
      <label id="winelist-name"> Wine List Name: </label>
        <input type="text" name="name">
      
      <label>Description: </label>
        <textarea name="description"></textarea>
      
      <input class="add" type="submit" value="Create Wine List">
  </form>    

  <table id="show-wine-list">
    <% wineList.forEach(function(wineList) { %>
    <tr>
        <th>Wine List:</th>
        <td><%= wineList.name %></td>
        <th>Created By:</th>
        <td><%= wineList.createdBy.name %></td>
        <th>Created:</th>
        <td><%= wineList.createdAt.toLocaleDateString() %></td>
        <td>
          <form action="/wineLists/<%= wineList._id %>" class="show-wine-list" method="GET">
          <button type="submit"><img id="show" src="../images/show.png"></button>
          </form>
        </td>
        <td>
            <% if (wineList.createdBy._id.toString() == partner.id.toString()) { %>
          <form action="/wineLists/<%= wineList._id %>?_method=DELETE" class="delete-wine-list" method="POST">
            <button type="submit"><i class="fas fa-trash-alt"></i></button>
          </form>    
          <% } %>           
        </td>
    </tr>
    <% }); %>
  </table>

  </section>
  <%- include('../partials/footer') %>
</body>

</html>